.home_wrapper {
  background-color: rgb(236, 233, 228);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.home_main {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  height: 80vh;
  background-color: rgb(246, 247, 249);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.header {
  display: flex;
  align-items: center;
}
.logo img {
  width: 80px;
}
.store_name {
  font-weight: 700;
  font-size: 1.4rem;
}
.home_right img {
  width: 100%;
  height: 95%;
  border-radius: 6px;
}
.home_left {
  margin: 0 20px;
}
.main_content .first_div {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.heading {
  font-size: 1.7rem;
  font-weight: 700;
}

.main_content .sign_in {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sign_in input {
  padding: 6px;
  border-radius: 0;
}
.sign_in .btn {
  background-color: rgb(9, 8, 8);
  color: aliceblue;
  padding: 5px;
  width: 90px;
  cursor: pointer;
}
.btn button {
  outline: none;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  border: none;
}
.products_wrapper{
  position: relative;
}
.products_wrapper .header {
  background-color: rgb(209, 87, 1);
  padding: 20px;
  color: aliceblue;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.nav {
  display: flex;
  gap: 10px;
}
.nav a {
  text-decoration: none;
  color: aliceblue;
}

.products_main {
  display: grid;
  grid-template-columns: 20% 80%;
}
.side_inner_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(209, 87, 1, 0.1);
  height: 90vh;
}
.side_inner_nav link {
  text-decoration: none;
  color: black;
}
/******************Products******/
.products_grid{
  
}
.inner_products_grid{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 10px;
  gap: 10px;
}

.product_card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  

}
.p_img img{
  width: 200px;
  height: 200px;
}
.cart_btn{
  width: 100%;
  background-color: rgb(209, 87, 1);
  display: flex;
  justify-content: center;
  padding: 10px;
  
}
.cart_btn button{
  background-color: transparent;
  border: none;
}
.p_title{
  font-weight: 400;
}
.p_price{
  font-size: .9rem;
}
/**************form**********************/
.form_wrapper{
  background-color: rgba(6, 5, 5, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}
.p_form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  
}
.p_form input{
  padding: 10px;
}
.form_btns{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.form_btns span{
  padding: 10px;
  background-color: rgb(209, 87, 1);
  color: white;
  cursor: pointer;
}